.main-login {
    width: 100vw;
    height: 100vh;
    background-color:var(--color-primary-1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-primary-2);
    font-size: 1.5vw;
}

.left-login-image {
    width: 30vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: var(--color-primary-13);
    border-radius: 20px;
    box-shadow: 0 5px 10px #00000027;
}

.card-login h2 {
    color: var(--color-primary-12);
    font-weight: 800;
    letter-spacing: 2px;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--color-primary-14);
    color: var(--color-primary-7);
    font-size: 1rem;
    outline: none;
}

.textfield label {
    color: var(--color-primary-7);
    margin-bottom: 15px;
}

.textfield input::placeholder {
    color: var(--color-primary-7);
}

.btn-login {
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--color-primary-5);
    background-color: var(--color-primary-12);
    cursor: pointer;
    box-shadow: 0 10px 40px -12px var(--color-primary-16);
}

.btn-login:disabled {
    background-color: var(--color-primary-17);
    color: var(--color-primary-18);
    cursor: auto;
    box-shadow: none;
}

@media only screen and (max-width:1280px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 640px) {
    .main-login {
        flex-direction: column;
    }

    .left-login-image {
        display: none;
    }

    .left-login h1 {
        font-size: 5vw;
    }

    .left-login h2 {
        font-size: 5vw;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

}

@media only screen and (max-width: 350px) {

    .left-login {
        margin-bottom: 40px;
        font-size: 6vw;
    }

    .left-login-image {
        display: none;
    }
}