@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.login-form {
    background-color: #191919;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login_header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login_header img {
    width: 200px;
}

.login_header h1 {
    color: #ddd;
    font-size: 1.5en;
}

.login_input {
    background-color: #eee;
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1.2em;
    margin-bottom: 15px;
    max-width: 300px;
    outline: none;
    padding: 15px;
    width: 100%;
}

.login_button {
    background-color: #00c46c;
    border: 1px solid #00c46c;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    padding: 15px;
    max-width: 300px;
    width: 100%;
}

.login_button:disabled {
    background-color: #eee;
    border: #aaa;
    color: #333;
    cursor: auto;
}