@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('../../../landing/css/style.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    background-color: var(--color-primary-1);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-direction: column;
}

canvas {
    background-color: var( --color-primary-5);
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.8rem;
    gap: 100px;
    width: 1050px;
    justify-content: space-between;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.name--player {
    font-weight: 700;
    font-size: 2.5rem;
    display: block;
    margin-top: -10px;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
}

.btn-home {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-primary-3);
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
    background-color: var(--color-primary-4);
}