@import url('.././../../landing/css/style.css');

:root {
    --cor-fundo: #191919;
    --cor-tabuleiro: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-fundo);
}

#jogador {
    font-size: 2em;
    color: #fff;
    margin-bottom: 50px;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#jogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#jogo button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background-color: var(--cor-tabuleiro);
    color: #fff;
    border: none;

}

#jogador {
    display: flex;
    gap: 50px;
}

a img {

    width: 30px;
    height: 30px;
}

a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    border-radius: 50%;
    border: 1px solid var(--color-primary-3);
    background-color: black;
    transition: all .3s ease;
}